<%layout("layouts/boilerplate.ejs")%>
<body>
    <script>
        const mapToken = "<%=process.env.MAP_TOKEN%>";
        const coordinates = <%-JSON.stringify(listing.geometry.coordinates)%>;
        const listingLocation = "<%=listing.location%>"
    </script>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3><%=listing.title%></h3>
            <i><%=listing.owner.username%></i>
        </div>
        <div class="card col-md-6 offset-md-2 listing-card">
            <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing Image">
            <div class="card-body">
                <h6 class="card-title mt-3">&#8377;<%=listing.price.toLocaleString("en-IN")%></h6>
                <p class="card-text"><%=listing.description%></p>
                <p class="card-text">Location: <%=listing.location%></p>
                <p class="card-text">Country: <%=listing.country%></p>
                <%if(currUser && currUser._id.equals(listing.owner._id)){%>
                    <form action="/listing/<%=listing._id%>/edit">
                        <button class="btn btn-dark" type="submit">Edit</button>
                    </form>
                    <form action="/listing/<%=listing._id%>?_method=DELETE" method="post">
                        <button class="btn btn-dark" type="submit">Delete</button>
                    </form>
                <%}%>
            </div>
        </div>

        <div class="col-md-6 offset-md-2">
            <%if(currUser){%>
                <h2 class="mt-5">Leave a Review</h2>
                <form class="needs-validation" action="/listing/<%=listing._id%>/review" method="post" novalidate>
                    <fieldset class="starability-grow">
                        <legend>Rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>

                    <div class="comment">
                        <label class="mt-3" for="comment">Comment: </label>
                        <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="3" placeholder="Review" required></textarea>
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">Review is Mandatory</div>
                    </div>
                    <button class="btn btn-dark mt-3" type="submit">Post Review</button>
                </form>
            <%}%>
            <h2>Reviews</h2>
            <div class="row">
                <%for(let rate of listing.reviews){%>
                    <div class="card mb-3 ms-2 col-md-5 review-card">
                        <div class="card-body">
                            <div class="card-title review-title">
                                <h6>@<%=rate.author.username%></h6>
                                
                                    <form action="/listing/<%=listing._id%>/review/<%=rate._id%>?_method=delete" method="post">
                                        <button class="pt-2 rev-btn" type="submit"><i class="fa-solid fa-xmark"></i></button>
                                    </form>
                                
                            </div>
                            <p class="starability-result" data-rating="<%=rate.rating%>">
                                Rated: <%=rate.rating%> stars
                              </p>
                            <p class="card-text"><%=rate.comment%></p>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
        <div class="col-md-6 offset-md-2">
            <h3>Where you'll be</h3>
            <div id="map"></div>
        </div>
    </div>
    <script src="/js/map.js"></script>
</body>