<%layout("layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Listing Details</h3>
        </div>
            <div class="card col-6 offset-2">
                <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing Image">
                <div class="card-body">
                    <h5 class="card-title"><%=listing.title%></h5>
                    <h6 class="card-title">&#8377;<%=listing.price.toLocaleString("en-IN")%></h6>
                    <p class="card-text"><%=listing.description%></p>
                    <p class="card-text">Location: <%=listing.location%></p>
                    <p class="card-text">Country: <%=listing.country%></p>
                    <form action="/listing/<%=listing._id%>/edit">
                        <button class="btn btn-dark" type="submit">Edit</button>
                    </form>
                    <form action="/listing/<%=listing._id%>?_method=DELETE" method="post">
                        <button class="btn btn-dark" type="submit">Delete</button>
                    </form>
                </div>
            </div>
    </div>
</body>